@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.welcome{
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: $border;
}

.nav-bar{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    

    &__search{
        background-color: $red;
        border: none;
        padding: .5rem;
        width: 100%;
        margin-bottom: .5rem;
    }

    &__btn-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: $border;
        padding-bottom: .5rem;
    }

    &__buttons{
        border: none;
        background-color: $blue;
        color: #fff;
        padding: .75rem .75rem;
        margin-bottom:.5rem;
        width: 48%;
        letter-spacing: .0938rem;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.nav-bar__buttons.active{
    border: none;
    background-color: $yellow;
    color: #fff;
    padding: .75rem .75rem;
    margin-bottom:.5rem;
    width: 48%;
    letter-spacing: .0938rem;
    font-weight: 700;
    text-transform: uppercase;
}