@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.card-section{
    display: flex;
    flex-wrap: wrap;
}

.card-cont{
    &__image{
        width: 100%;
        padding-top: 1rem;
    }

    &__link{
        text-decoration: none;
        color: #000;
    }
}

.retrieving{
    margin: 1rem;
    font-family: Helvetica;
}
