@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.header{
    &__logo-container{
        border-bottom: $border;
        margin: 1rem;
        display: flex;
        justify-content: flex-end;
    }

    &__logo{
        width: 15rem;
        margin-bottom: 1rem;
    }

    // &__logo-active{
    //     width: 15rem;
    //     margin-bottom: 1rem;
    // }

    &__container{
        display: flex;
        margin: 1rem ;
        padding-bottom: 1rem;
        justify-content: space-between;
        list-style: none;
        border-bottom: $border;
    }

    &__links{
        background-color: #000;
        color: #fff;
        padding: .5rem 2rem;
        font-weight: 600;
        letter-spacing: 2px;

        &:hover{
            background-color: $red;
        }
    }
}

a{
    text-decoration: none;
}

.header__links.active{
    background-color: $red;
    color: #fff;
    padding: .5rem 2rem;
    font-weight: 600;
    letter-spacing: 2px;
}