@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.footer{
    border-top: $border;
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding-top: 1rem;
    color: #000;
    font-size: .625rem;
}